.btn.btn-primary,.cover,.header.toolbar-shadow,.mapache-load-more:hover,.nav-mob,.u-tags:hover{
  background-color:#607d8b!important;
}
.form-control:focus{
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(96,125,139,.6);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(96,125,139,.6);
}
.form-control:focus,.mapache-load-more:hover{
  border-color:#607d8b!important;
}
.u-tag {
background-color: #ffa100;
}
.sidebar-title {
  text-transform: none;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
}
body, h1, h2, h3, h4, h5, h6 {
  color: #2d3438;
}
.u-card-shadow {
  background-color: rgba(255, 255, 255, 0.0);
}
.sidebar-items {
  background-color: rgba(255, 255, 255, 1.0);
}
