.btn.btn-primary,.cover,.header.toolbar-shadow,.mapache-load-more:hover,.nav-mob,.u-tags:hover{
  background-color:#607d8b!important;
}
.form-control:focus{
  -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(96,125,139,.6);
  box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(96,125,139,.6);
}
.form-control:focus,.mapache-load-more:hover{
  border-color:#607d8b!important;
}
.u-tag {
  background-color: #ffa100;
}
.sidebar-title {
  text-transform: none;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  border-radius:2px;
}
body, h1, h2, h3, h4, h5, h6 {
  color: #2d3438;
}
.u-card-shadow {
  background-color: rgba(255, 255, 255, 0.0);
  box-shadow: none;
  -webkit-box-shadow: none;
}
.sidebar-items {
  background-color: rgba(255, 255, 255, 1.0);
}
.entry-title {
  color: #2d3438;
}
.cover-title {
  color: #fff;
}
a {
  color: #ffa100;
}
.post-title {
  color: #2d3438;
}
hr {
  background: linear-gradient(90deg,#f1f2f1,#ffa100 50%,#f1f2f1);
  background: -webkit-gradient(linear,left top,right top,color-stop(0,#f1f2f1),color-stop(50%,#ffa100),to(#f1f2f1));
  background: -webkit-linear-gradient(left,#f1f2f1,#ffa100 50%,#f1f2f1);
  background: -o-linear-gradient(left,#f1f2f1 0,#ffa100 50%,#f1f2f1);
  margin: 50px auto;
}
hr::before {
  content: no-close-quote;
}
hr.header-line {
  background: #ffa100;
  height: 1px;
  border: none;
  margin: 10px auto;
}
